{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}{{ 'product_priority.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'product_priority.admin.config.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="d-inline-block"><span>{{ 'product_priority.admin.config.header'|trans }}</span></div>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.order_by_id) }}
                        <div>
                            <ul style="margin-left: 1.0em;">
                                <li style="text-indent: -1.0em;">{{ 'product_priority.admin.config.tip01'|trans({'%link%': '<a href="'~path('admin_setting_system_masterdata_view', { entity : 'Eccube-Entity-Master-ProductListOrderBy'})~'">mtb_product_list_order_by</a>'})|raw }}</li>
                                <li style="text-indent: -1.0em;">{{ 'product_priority.admin.config.tip02'|trans }}</li>
                            </ul>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </div>

    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem"></div>
                </div>
                <div class="col-6">
                    <div class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-ec-conversion px-5" type="submit">{{ 'common.label.save'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
