{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'admin_product_priority'] %}

{% block title %}{{ 'product_priority.admin.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'product_priority.admin.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}
{% form_theme searchProductModalForm '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        var registerd_flg = false;

        // 並び順制御
        $(function () {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("table > tbody > tr").each(function () {
                oldRanks.push(this.dataset.priority);
            });

            // rsort
            oldRanks.sort(function (a, b) {
                return a - b;
            }).reverse();

            $("table > tbody").sortable({
                items: '> tr',
                cursor: 'move',
                update: function (e, ui) {
                    $("body").append($('<div class="modal-backdrop show"></div>'));
                    updateRank();
                }
            });

            var updateRank = function () {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("table > tbody > tr").each(function () {
                    newRanks[this.dataset.productid] = oldRanks[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url("admin_product_priority_move", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: newRanks,
                }).done(function (data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                }).fail(function () {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                });
            };
        });

        $(function () {
            // カテゴリプルダウン選択
            $('#category_category').on('change', function () {
                var categoryId = $(this).val();
                var href = "{{ url('admin_product_priority') }}";
                if (categoryId) {
                    href += '/' + categoryId;
                }
                location.href = href;
            });
            // チェックボックスの全選択/全解除
            $('#toggle-check-all').click(function () {
                var checkall = $(this).prop('checked');
                if (checkall) {
                    $('input[id^=check-]').prop('checked', true)
                        .parent()
                        .parent()
                        .addClass('checked');
                } else {
                    $('input[id^=check-]').prop('checked', false)
                        .parent()
                        .parent()
                        .removeClass('checked');
                }
            });
            // チェックボックス選択時に行の背景色を切り替える
            $("input[id^=check-]").on('click', function () {
                var $checkbox = $(this);
                var $tr = $checkbox.parent().parent();
                var checked = $checkbox.prop('checked');
                if (checked) {
                    $tr.addClass('checked');
                } else {
                    $tr.removeClass('checked');
                }
            });
            // 削除ボタン押下
            $('#delete-checked').click(function () {
                var checked = false;
                var productIds = {};
                $("input[id^=check-]:checked").each(function () {
                    checked = true;
                    productIds[this.dataset.productid] = this.dataset.productid;
                });

                if (!checked) {
                    alert('{{ 'product_priority.admin.select.no'|trans }}');
                    return;
                }

                // マスク処理
                $overlay = $('<div class="prevention-masked">');
                $('body').append($overlay);

                $.ajax({
                    url: '{{ url("admin_product_priority_delete", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: productIds,
                    async: false
                }).done(function (data) {
                    console.log(data);
                }).fail(function () {
                    console.log('fail');
                });

                {% if categoryId is empty %}
                var href = "{{ url('admin_product_priority') }}";
                {% else %}
                var href = "{{ url('admin_product_priority_edit', { categoryId : categoryId}) }}";
                {% endif %}

                location.href = href;
            });

            // モーダル内商品検索
            $('#searchProductModalButton').on('click', function () {
                $('#register-checked').addClass('d-none');
                $('#searchProductModalList').html(
                    '<div class="no-padding">' +
                    '<div class="data-empty">' +
                    '<i class="fa fa-refresh" aria-hidden="true"></i> Loading...' +
                    '</div>' +
                    '</div>'
                );

                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        'search': $('#admin_product_priority_search_search').val(),
                        'category_id': {{ categoryId }}
                    },
                    url: '{{ url("admin_product_priority_search") }}',
                    success: function (data) {
                        // モーダルに結果を書き出し.
                        $('#searchProductModalList').html(data);
                        // pager.twigのbox-footerは不要なため除外
                        $('#pagination_wrap').removeClass('box-footer');
                    },
                    error: function () {
                        alert('{{ 'product_priority.admin.search.not_found'|trans }}');
                    }
                });
            });

            // モーダル内登録ボタン押下
            $('#register-checked').on('click', function () {
                var checked = false;
                var productIds = [];
                $("input[id^=register-check-]:checked").each(function () {
                    checked = true;
                    productIds.push(this.dataset.productid);
                });

                if (!checked) {
                    alert('{{ 'product_priority.admin.select.no'|trans }}');
                    return;
                }

                // マスク処理
                $overlay = $('<div class="prevention-masked">');
                $('body').append($overlay);

                $('#register-checked').addClass('d-none');
                $('#searchProductModalList').html(
                    '<div class="no-padding">' +
                    '<div class="data-empty">' +
                    '<i class="fa fa-refresh" aria-hidden="true"></i> Loading...' +
                    '</div>' +
                    '</div>'
                );

                $.ajax({
                    url: '{{ url("admin_product_priority_register", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: {
                        productIds: productIds
                    },
                    success: function (data) {
                        $('#searchProductModalButton').click();
                        $('.prevention-masked').remove();
                        registerd_flg = true;
                    },
                    error: function () {
                        $('.prevention-masked').remove();
                        alert('{{ 'admin.register.failed'|trans }}');
                    }
                });
            });
        });

        $(function () {
            $('#searchProductModal').on('hidden.bs.modal', function (event) {
                if (registerd_flg) {
                    location.reload();
                }
            })
        });
    </script>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                    <span data-toggle="tooltip"
                          data-placement="right"
                          data-html="true"
                          data-title="<p align='left'>{{ 'product_priority.admin.header.tooltip'|trans }}</p>"
                    >{{ 'product_priority.admin.header'|trans }}</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">{{ form_widget(form.category) }}</div>
                            <div class="col-4 mb-2">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#searchProductModal">{{ 'product_priority.admin.search.open_modal'|trans }}
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ path('product_list', {
                                            'category_id' : categoryId ? categoryId : '',
                                            'orderby' : order_no
                                        }) }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i><span class="d-none d-sm-inline-block">{{ 'product_priority.admin.preview'|trans }}</span></a>
                                    </li>
                                </ul>
                            </div>

                            {% if Priorities|length > 0 %}
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6 offset-6">
                                            <div class="form-group">
                                                <button data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-default btn-block">
                                                    {{ 'common.label.delete'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title font-weight-bold">
                                                    {{ 'product_priority.admin.delete.title'|trans }}</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                <p class="text-left">{{ 'product_priority.admin.delete.message'|trans }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'common.label.cancel'|trans }}
                                                </button>
                                                <button id="delete-checked" class="btn btn-ec-delete">
                                                    {{ 'common.label.delete'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    {% if Priorities|length > 0 %}
                        <div class="card-body no-padding">
                            <table class="table table-hover">
                                <thead style="background-color: #F9F9F9;">
                                <tr>
                                    <td width="10%">{{ 'product_priority.admin.table.col1'|trans|raw }}</td>
                                    <td width="20%">{{ 'product_priority.admin.table.col2'|trans }}</td>
                                    <td width="60%">{{ 'product_priority.admin.table.col3'|trans }}</td>
                                    <td width="10%"><input type="checkbox" id="toggle-check-all"></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Priority in Priorities %}
                                    <tr class="item_box"
                                        data-priority="{{ Priority.priority }}"
                                        data-productid="{{ Priority.product_id }}">
                                        <td width="10%">{{ 'product_priority.admin.table.col1'|trans|raw }}</td>
                                        <td width="20%">{{ Priority.product_id }}</td>
                                        <td width="60%">{{ Priority.product_name }}</td>
                                        <td width="10%"><input type="checkbox" id="check-{{ Priority.product_id }}" data-productid="{{ Priority.product_id }}"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    {% else %}
                        <div class="card-body no-padding">
                            <div class="data-empty">
                                <p>{{ 'product_priority.admin.data.empty'|trans }}</p></div>
                        </div><!-- /.box-body -->
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {# 商品検索モーダル #}
    <div class="modal fade" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{ 'product_priority.admin.search.modal.header'|trans }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="modal-close" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.search, { attr : { placeholder : 'product_priority.admin.search.placeholder' } } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.category_name) }}
                    </div>
                    <div class="form-group">
                        <div class="row form-inline">
                            <div class="col">
                                <button type="button" id="searchProductModalButton" class="btn btn-primary">{{ 'product_priority.admin.search.button'|trans }}</button>
                            </div>
                            <div class="col">
                                <button id="register-checked" type="button" class="btn btn-default d-none float-right"
                                        style="width:200px">{{ 'common.label.save'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="searchProductModalList">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
