{% include '@admin/alert.twig' %}

{% if pagination.totalItemCount > 0 %}
    <script>
        // 登録ボタンの表示
        $('#register-checked').removeClass('d-none');

        // 商品検索(ページング)
        $('div.box-footer a').on('click', function (event) {
            $('#register-checked').addClass('d-none');
            $('#searchProductModalList').html(
                '<div class="no-padding">' +
                '<div class="data-empty">' +
                '<i class="fa fa-refresh" aria-hidden="true"></i> Loading...' +
                '</div>' +
                '</div>'
            );
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: $(this).attr('href'),
                success: function (data) {
                    // モーダルに結果を書き出し.
                    $('#searchProductModalList').html(data);
                    // pager.twigのbox-footerは不要なため除外
                    $('#pagination_wrap').removeClass('box-footer');
                },
                error: function () {
                    alert('{{ 'product_priority.admin.search.not_found'|trans }}');
                }
            });
            // aタグの無効化
            event.preventDefault();
        });

        // チェックボックスの全選択/全解除
        $('#toggle-register-check-all').on('click', function () {
            var checkall = $(this).prop('checked');
            if (checkall) {
                $('input[id^=register-check-]').prop('checked', true)
                    .parent()
                    .parent()
                    .addClass('checked');
            } else {
                $('input[id^=register-check-]').prop('checked', false)
                    .parent()
                    .parent()
                    .removeClass('checked');
            }
        });

        // チェックボックス選択時に行の背景色を切り替える
        $("input[id^=register-check-]").on('change', function () {
            var $checkbox = $(this);
            var $tr = $checkbox.parent().parent();
            var checked = $checkbox.prop('checked');
            if (checked) {
                $tr.addClass('checked');
            } else {
                $tr.removeClass('checked');
            }
        });
    </script>
    <table class="table table-hover">
        <thead style="background-color: #F9F9F9;">
        <tr>
            <td>{{ 'product_priority.admin.table.col2'|trans }}</td>
            <td>{{ 'product_priority.admin.table.col3'|trans }}</td>
            <td class="text-left"><input type="checkbox" id="toggle-register-check-all"></td>
        </tr>
        </thead>
        <tbody>
        {% for Product in pagination %}
            <tr>
                <td class="vertical-align-middle">
                    {{ Product.id }}
                </td>
                <td class="vertical-align-middle">
                    {{ Product.name }}
                    {% if Product.hasProductClass %}
                        <span><br/>{{ Product.code_min }}～{{ Product.code_max }}</span>
                    {% else %}
                        <span><br/>{{ Product.code_min }}</span>
                    {% endif %}
                </td>
                <td class="vertical-align-middle text-left">
                    <input type="checkbox" id="register-check-{{ Product.id }}" data-productid="{{ Product.id }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#ページャ#}
    <div class="col box-footer">
        <div class="row justify-content-md-center mb-4">
            {% include "@admin/pager.twig" with {'pages': pagination.paginationData, 'routes': 'admin_product_priority_search_page'} %}
        </div>
    </div>
{% else %}
    <div class="no-padding">
        <div class="data-empty">
            <p>{{ 'product_priority.admin.search.data.empty'|trans }}</p>
        </div>
    </div><!-- /.box-body -->
{% endif %}
